# DB Credentials (used by docker-compose to create the database)
DATABASE_USER=taskforge
DATABASE_PASSWORD=password
DATABASE_NAME=taskforge

# RabbitMQ Credentials
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Connection Strings (for running apps locally OUTSIDE of docker)
DATABASE_URL=postgres://taskforge:password@localhost:5433/taskforge
RABBITMQ_URL=amqp://guest:guest@localhost:5672

NEXT_PUBLIC_API_URL=http://api-url:3000

# Security (for Prod)
CORS_ORIGIN=https://frontend-domain.com